html, body {
	font-family: "Verdana", arial;
	height: 100%;
}

#adrsList {
	float: left;
}

input {
	width: 375px;
}

li {
	width: 500px;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 25px;
	margin-bottom: 25px;
	background-color: lightgray;
	list-style: none;
}

#mapCanvas {
	float: left;
	margin-top:15px;
	width:500px;
  height:500px;
}
